/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Macondo&display=swap');

/* CSS Variables */
:root {
    --primary-font: "roboto", sans-serif;
    --secondary-font: "Regular 400", sans-serif;
    --primary-color: #20373a; /* blue */
    --secondary-color: #aa9581; /* light brown */
    --highlight-color: #416a8e; /* blue */
    --highlight-color-light: #FFFFFF; /* white */
}

/* Navbar */

#navbar {
    background-color: var(--primary-color);
}
#navbar p {
    margin-top: 12px;
    font-weight: 600;
    font-size: x-large;

}